body.post-php {
  #wfm-revision-publish-actions {
    .inside {
      padding: 0;
    }

    .preview {
      float: none;
    }

    #minor-publishing-actions {
      text-align: left;
      margin-bottom: 1em;
    }
  }
}